<div class="clock1">
  <h2 id="title">番茄钟统计</h2>
  <h2 id="nowtime">0h0m&nbsp;&nbsp;4&nbsp;&nbsp;1</h2>
  <h3 id="time">专注时长&nbsp;&nbsp;中断数&nbsp;&nbsp;陪伴天数</h3>
  <h4 class="clock2">番茄钟&nbsp;<img [src]="barLogo">&nbsp;0/10</h4>
</div>

<div class="job">
    <h2>任务统计</h2>
    <div class="block1">
        <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
    </div>
    <div class="block1">
        <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
    </div>
    <div class="block1">
        <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
    </div>
</div>

<div class="block2">
  <h2>今日总结</h2>
</div>