.clock1 {
    text-align: center;
}
.job {
    margin-top: 30px;
    text-align: center;
}
.block2 {
    text-align: center;
    margin-top: 40px;
}
.clock1 .clock2 {
    margin-top: 20px;
}
.clock1 #nowtime{
    color:rgb(167, 92, 92);
}
.clock1 #time {
    margin-top: 30px;
}